body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('https://scontent.fnak3-1.fna.fbcdn.net/v/t39.30808-6/448517247_2648905285279561_2031725853293330821_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeG2-iUtxur0sOLZAXkKEZIa_Xcsi_V7_uX9dyyL9Xv-5dL44OGN9FWTO018MxlIjo7a8LHiHop8qFvj1Gj-2K0x&_nc_ohc=GcXfPY-t7fwQ7kNvgFNPcJX&_nc_ht=scontent.fnak3-1.fna&oh=00_AYBOPv6BhuX65HDF4FUWMdmkbSa1K-IqOe3vpX0J4vOsuQ&oe=66749A22');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

.birthdayCard {
  position: relative;
  width: 250px;
  height: 350px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(2500px);
  transition: 1s;
}

.birthdayCard:hover {
  transform: perspective(2500px) rotate(5deg);
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
    0 10px 100px rgba(0, 0, 0, 0.5);
}

.birthdayCard:hover .cardFront {
  transform: rotateY(-160deg);
}

.birthdayCard:hover .happy {
  visibility: hidden;
}

.cardFront {
  position: relative;
  background-color: #ffffff;
  width: 250px;
  height: 350px;
  overflow: hidden;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
    30px 0 50px rgba(0, 0, 0, 0.4);
  transition: 0.6s;
  border-style: groove;
}

.happy {
  font-family: Tahoma, sans-serif;
  text-align: center;
  margin: 30px;
  background-image: linear-gradient(120deg, #ffd856 0%, #f98c6e 100%);
  transition: 0.1s;
  border-style: outset;
}

.balloons {
  position: absolute;
}

.balloon-1,
.balloon-2,
.balloon-3,
.balloon-4 {
  position: absolute;
  width: 85px;
  height: 95px;
  border-radius: 50%;
}

.balloon-1 {
  background-color: rgba(255, 40, 90, 0.7);
  left: -10px;
  top: 50px;
}

.balloon-2 {
  background-color: rgba(9, 215, 160, 0.7);
  left: 50px;
  top: 20px;
}

.balloon-3 {
  background-color: rgba(255, 186, 26, 0.7);
  left: 110px;
  top: 50px;
}

.balloon-4 {
  background-color: rgba(12, 122, 159, 0.7);
  left: 170px;
  top: 50px;
}

.balloon-1::before,
.balloon-2::before,
.balloon-3::before,
.balloon-4::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 155px;
  background-color: #ffc848;
  top: 95px;
  left: 43px;
}

.balloon-1::after,
.balloon-2::after,
.balloon-3::after,
.balloon-4::after {
  content: "";
  position: absolute;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  top: 94px;
  left: 37px;
}

.balloon-1::after {
  border-bottom: 10px solid #ff3e6b;
}

.balloon-2::after {
  border-bottom: 10px solid #04b183;
}

.balloon-3::after {
  border-bottom: 10px solid #ffc94c;
}

.balloon-4::after {
  border-bottom: 10px solid #13a9bd;
}

.cardInside {
  position: absolute;
  background-color: #ffffff;
  width: 250px;
  height: 350px;
  z-index: -1;
  left: 0;
  top: 0;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
  border-style: groove;
}

p {
  font-family: "Itim", cursive;
  margin: 40px;
  color: #333;
  font-size: 14px;
}
h3 {
  font-family: "Itim", cursive;
  margin: 40px;
  color: #333;
}

.name {
  position: absolute;
  left: 100px;
  top: 280px;
  color: #333;
  font-size: 10px;
}

.back {
  font-family: Tahoma, sans-serif;
  color: #333;
  text-align: center;
  margin: 30px;
  outline-color: #333;
  outline-style: dotted;
}


.btn {
  margin: 100px;
  padding: 15px 40px;
  border: none;
  outline: none;
  color: #FFF;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}
.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* glow */
.btn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* hover */
.btn:hover::before {
  opacity: 1;
}

.btn:active:after {
  background: transparent;
}

.btn:active {
  color: #000;
  font-weight: bold;
}